{% load static %}
{% include "hospital/navbar.html" %}

<style type="text/css">
 

  #bg{
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }
</style>


<body id="bg" style="background-image: url('{% static "images/services.jpg"%}');">

<div class="container-fluid" style="margin-left :100px">
<div class="row">
<div class="col-sm-3" style="color: red">
  <p style="color: blue"></p>  
</div>



<div class="col-sm-6" style="padding-top: 87px">
    <div class="card">
  <div class="card-header text-primary">
     Meet With Us!
  </div>
</div>


<div class="card mb-4">
<div class="card-body">

<div class="row">
	<div class="col-sm-4"></div>
	<div class="form-group">
<p id="about">Our EHospital  System offers a range of services to support healthcare institutions in effectively managing their operations and providing quality patient care. Here are some key services provided by our system: 
  Our goal is to deliver a comprehensive suite of services that enable healthcare institutions to optimize their operations, enhance patient care, and improve overall efficiency.</p>

<ul class="list-group">
  <li class="list-group-item text-primary">Booking Appointement</a></li>
  <li class="list-group-item text-primary">Patient Management</a></li>
  <li class="list-group-item text-primary">Payment Management</a></li>
  <li class="list-group-item text-primary">Telemedicine</a></li>
  <li class="list-group-item text-primary">Others</a></li>

</ul>
</div>

	<div class="col-sm-4"></div>
	</div>


                      </div>
                    </div>  
                  </div>

</div>



<div class="col-sm-3" style="color: red">
</div>

</div>
</div>

    <script type="text/javascript" src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

    {% include "hospital/footer2.html" %}
  </body>

</html>












